{{#if user}}
    <p>You are currently logged in as {{user.username}} <a href="/logout">logout?</a></p>
    <a href="/blog">Dashboard</a>
    <h1>Admin Dashboard</h1>
    <h2>Users</h2>
    <hr />
    {{#each posts as |post|}}
        <a href="/blog/admin/{{post.username}}"><h3>{{post.username}}</h3></a>
        
    {{/each}}
{{else}}
    <p>You are currently not logged in. Please <a href="/login">login</a> or <a href="/register">register</a> ...</p>
{{/if}}
