{{#if user}}
    <p>You are currently logged in as {{user.username}} <a href="/logout">logout?</a></p>
    <h1>Dashboard</h1>
    <a href="/blog/add">Add Post</a>
    {{#each posts as |post|}}
        <a href="/blog/{{post.author}}/{{post.title}}"><h2>{{post.title}}</h2></a>
        <h4>{{post.author}}, {{post.postDate}}</h4>
        <br />
    {{/each}}
{{else}}
    <p>You are currently not logged in. Please <a href="/login">login</a> or <a href="/register">register</a> ...</p>
{{/if}}
