{{#if user}}
    <p>You are currently logged in as {{user.username}} <a href="/logout">logout?</a></p>
{{else}}
    <p>You are currently not logged in. Please <a href="/login">login</a> or <a href="/register">register</a> ...</p>
{{/if}}
<a href="/blog">Dashboard</a>
{{#if authorized}}
    <form method="post">
        <input type="text" name="title" value="{{title}}" ></input>
        <input type="text" name="content" value="{{content}}"  ></input>
        <input type="text" name="imageUrl" value="{{imageUrl}}"  ></input>
        <input type="submit" name="submit"></input>
    </form>
{{else}}
    <h1>Unauthorized</h1>
{{/if}}
