<form action="resolve" method="get">
    <input type="text" name="UID" />
    <input type="text" name="UID-a" />
    <input type="text" name="UID-b" />
    <input type="text" name="UID-c" />
    <input type="text" name="UID-d" />
    <input type="text" name="UID-e" />
    <input type="text" name="UID-f" />
    <input type="text" name="DS" />
    <input type="text" name="VERS" />
    <input type="submit" value="Submit" name="submit" />
</form>